
.carrusel {
    width: 90%;
    max-width: 120em;
    text-align: center;
    height: 85vh;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0px auto;
    overflow: hidden;
}
.carrusel .grande {
    width: 700%;
    display: flex;
    text-align: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel article {
    width: calc(100% / 7);
}


.carrusel .flechas {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
}

.carrusel .flecha {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    margin: 0.2em;
    cursor: pointer;
}

.activo {
    background-color: var(--amarillo);
}
.carrusel .flecha:not(.activo){
    background-color: var(--letras);
}
.carrusel .flecha:not(.activo):hover {
    background-color: var(--amarillo);
}
