@media (min-width: 750px) {
    .wrap {
        flex-direction: row;
        height: auto;
        align-items: center;
    }
    header {
        height: auto;
    }
    #menu {
        display: flex;
        align-items: center;
        visibility: visible;
        opacity: 1;
        height: auto;
        margin-top: 10px;
    }
    #menu a {
        margin-top: 0;
        margin-right: 20px;
    }
    .menu-burger {
        display: none;
    }
    
}

@media (max-width: 700px) {
    #articles article iframe{
        height: 50%;
    }
    .footer-links{
        width: 50%;
    }
    #articles article {
        width: 95%;
    }
}