/*Inicio Fuentes*/
@font-face{
    font-family: "WebSymbolsRegular";
    src: url('sources/fonts/websymbols-regular-webfont.eot');
    src: url('sources/fonts/websymbols-regular-webfont.eot?@iefix') format('embedded-opentype'),
        url('sources/fonts/websymbols-regular-webfont.woff') format('woff'),
        url('sources/fonts/websymbols-regular-webfont.ttf') format('truetype'),
        url('sources/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Fin Fuentes*/

/*Variables*/
:root {
    --color-principal: rgb(92, 92, 143);
    --fondo: #353535;
    --letras:#528BFF;
    --amarillo: #F5BB00;
    --fuente_principal: 'Nova Mono', monospace;
}

/*Inicio Generales*/
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
.clearfix{
    float: none;
    clear:both;
}
.Logo_Card{
    font-family: WebSymbolsRegular;
    text-align: center;
    font-size: 30px;
}
.being{
    color: var(--letras)!important;
}

/*Fin Generales*/


body{

    width: 100%;
    background-color: var(--fondo);
}

/*Cabezera-contiene wrap*/

header{
    width: 100%;
    background-color: var(--fondo);
    color: var(--letras);
    font-family: var(--fuente_principal);
    height: auto;
}
header b{
    color: var(--amarillo);
}
/*Diseño barras teal*/
/*Wrap: Wrapy, logo, menu*/
.wrap{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto;
}




/*Inicio Logo*/
#logo{
    height: 100px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
}


#logo h3{
    color: var(--letras);
    font-size: 34px;
    margin-top: 17px;
}
/*Fin del logo*/

#menu{
    visibility: hidden;
    opacity: 0;
    height: 0;
    text-align: center;
    transition: visibility .2s linear, opacity .1s linear, height .5s linear ;
    
    margin-bottom: 10px;
}


#menu a{
    display: block;
    color: var(--amarillo);
    transition: color 300ms, backgrupnd-color 300ms;
    margin-top: 25px;
    font-size: 30px;
}
/*Fin de de la cabezera*/




/*Inicio de los artiulos*/

#articles{
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
h2{
    display: block;
    color: var(--amarillo);
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-family: var(--fuente_principal);
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

#articles article{
    
    max-height: 50rem;
    margin: 0px auto;
    margin-bottom: 40px;
    font-family: var(--fuente_principal);
    background-color: #6A6A6A;
    border-radius: 1rem;
    width: 70%;
    
}
.gif {
    height: 40vh;
}
.normal {
    width: 90%;
}
article nav {
    padding: 0 10% 10% 10%;
    display: flex;
    justify-content: space-around;
}
nav span {
    background-color: #F78112;
    line-height: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
nav img {
    width: 3rem;
}
#articles article a img{
    padding: 10px;
    margin-bottom: 4rem;
    border-radius: 1rem;
}

#articles article h4{
    text-transform: uppercase;
    color: var(--letras);
    display: block;
    font-size: 23px;
    padding: 1rem;
}


/*Fin de los articulos*/

/*Inicio Pie de paguina*/
#footer{
    padding: 20px 0;
    width: 100%;
    height: auto;
    align-items: center;
    color: white;
    overflow: hidden;
    text-align: center;
}

.footer-informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: var(--fuente_principal);
}
.footer-informacion a{
    font-size: 40px;
    align-items: center;
}
.footer-links {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

#footer h5{
    margin-bottom: 50px;
}

#footer img{
    width: 40px;
    display: flex;
    align-items: flex-end;
}

#footer .icon{
    margin-left: 10px;
}
#footer .icon a{
    text-decoration: none;
    color: var(--amarillo);
}

/*Fin de pie de paguina*/

/*Inicio Zona hover*/


#logo:hover h3{
    animation: FromBellow 500ms linear;
}

#menu a:hover{
    color: var(--letras);
    transform: scale(1.2, 1.2);
}


#blog:hover{
    border: 10px solid #000000;
    border-radius: 240px;
    box-shadow: 0px 0px 10px gray;
}

#blog:hover a{
    text-shadow: 1px 1px 1px black, 1px 2px, 1px black, 1px 2px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black ;
}


/*Fin Zona hover*/

/*Burger menu*/
.menu-burger {
    position: relative;
}
.menu-burger img{
    cursor: pointer;
    width: 4rem;
    filter: invert(100%);
}
.mostrar {
    visibility: visible!important;
    height: auto!important;
    opacity: 1!important;
}
.activo img{
    transform: rotate(45deg);
}
/*Fin Burger menu*/

/*Scroll*/
::-webkit-scrollbar{
    width: .4rem;
}

::-webkit-scrollbar-thumb{
    background: white;
}

/*Animaciones*/
@keyframes FromBellow{
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0%);
    }
}
/*Animaciones*/
@keyframes From_Up{
    from{
        transform: translateY(-300%);
        color: white;
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes From_Left{
    from{
        transform: translateX(-300%);
        
    }
    to{
        transform: translateX(0%);
        color: white;
    }
}