:root {
    --fondo: #353535;
    --letras: #528BFF;
    --amarillo: #F5BB00;
    --fuente_principal: 'Nova Mono', monospace;
}

.blanco {
    color: white;
}

.amarillo {
    color: var(--amarillo);
}

.azul {
    color: var(--letras);
}

